body{
    color: white;
    background-color: #141414;
}


header{
    position: relative;
    display: inline;
    top: 1px;
    left: 20px;
    text-align: center;
    padding: 0px;
    font-weight: lighter;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;




}


.myCursor {
    display: inline-block;
    width: 10px;
    height: 1rem;
    background: #e27e26;
    margin-left: 5px;
    border-radius: 1px;
    animation-name: blink;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-timing-function: ease-out;
}

@keyframes blink {
0%{ opacity: 1}
25%{opacity: 0.9}
50%{ opacity: 0.8}
100%{ opacity: 0}
}

.banner{
    position: relative;
}

.banner img{
z-index: -1px;
max-width: 100%;

}

.banner .welcome{
    position: absolute;
    bottom: 120px;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    background-color: #292a2d;
    left: 35%;

    font-size: 40px;
}

nav{
    display: absolute;
    position: sticky;
    top:0px;
    width:100%;
    white-space: nowrap;
    background-color:#292a2d;
    padding: 1px;
    max-width: 100%;
    margin: 0 0;

}
nav ul li{
    width: 20%;
    left: 0;
    right: 10px;
    font-size: 20px;
    display: inline-block;
}



main article{
    margin: 5px 10px;
    font-size: 18px;
}

main article h3{
    font-size: 25px;
}

.main-nav ul li a{

    text-decoration: none;
    color:white;
}

.main-nav ul li a:hover{

    text-decoration: underline;
    font-weight: bold;
    color:white;
}


.social-accounts li{
    background-color: white;
}

.social-accounts h2{
    margin-left: 20px;
}

.social-accounts{
    white-space: nowrap;
}

.social-accounts li{
    display: inline-block;
}


.social-accounts li img{
    height:100px;
    margin:0 20px;
    margin-left: 25px;
    padding: 10px;
    text-decoration: none;
}

.social-accounts h3{
    padding: 30px;
    word-spacing: 155px;
    letter-spacing: 2px;
    margin-left: 10px;
}



footer{
    text-decoration: underline;
    display: inline-block;
    text-align: center;
    padding-right:10px;
    padding-left: 10px;
    margin: 0 40%;
    border-radius: 8px;
    background-color: #292a2d;
}

.bg-all img{
    width: 100%;
    opacity: 70%;
}

.bg-all div img{
    width:20%;
    opacity: 100%;
    position: relative;
    bottom: 1200px;
    left: 200px;
}

.bg-all div h1{
    position: relative;
    width: 30%;
    bottom: 1400px;
    left: 500px;
    font-size: 3em;
}

/*---------------------------------------------------------------------*/
/*  Update 2 Customizing Sing in html form page            */

.bgsignin{

  padding:20px;
  background-color: #292a2d;
  border-radius: 20px;
  margin: 0 auto;
  padding: 20px;

}

form{
  margin: 20px;
}

input[type="name"]{
  font-size: 15px;
  color: #222;
}

select{
  padding: 05px;
  font-size: 15px;
  color: #222;
  font-weight: lighter;
}

input[type="radio"]{
  opacity: 0;
  width: 0;
  margin: 0;
}

label[for="male"], label[for="female"], label[for="other"]{
display: inline-block;
margin-bottom: 10px;
padding-left: 26px;
line-height: 24px;
background: url(img/checks.png) no-repeat;
background-position: 0 -32px;
cursor: pointer;
}

input:checked + label[for="male"],
input:checked + label[for="female"],
input:checked + label[for="other"]{
  color: #ce1010;
  background-position: 0 -64px;
  font-size: 1.06em;
}


input[type="checkbox"]{
  opacity: 0;
  width: 0;
  margin: 0;
}

label[for="htmlcss"], label[for="bootstrap"],
 label[for="js"], label[for="react"],
  label[for="angular"]{
display: inline-block;
margin-bottom: 10px;
padding-left: 26px;
line-height: 24px;
background: url(img/checks.png) no-repeat;
background-position: 0 -32px;
cursor: pointer;
}

input:checked + label[for="htmlcss"],
input:checked + label[for="bootstrap"],
input:checked + label[for="js"],
input:checked + label[for="react"],
input:checked + label[for="angular"]{
  color: #ce1010;
  background-position: 0 -64px;
  font-size: 1.06em;
}

fieldset{
  padding: 20px;
  margin: 20px 0;
  border: 3px solid #222;
}

legend{
  padding: 10px;
  font-size: 18px;
  letter-spacing: 0.1em;
}

input[type="email"], input[type="tel"]{
  display: block;
  margin-bottom :10px;
  margin-top: 10px;
  margin-left: 22px;
  height: 25px;
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom:10px;
  padding-right: 80px;
  border: 0;
  border-radius: 4px;
  background: url(img/inputs.png) no-repeat;
  background-color: #222;
  font-size: 16px;
  color: #fff;
  float: left;
  clear:both;
}

input[type="email"]{
  background-position : 7px 13px;
  width:250px;
}
input[type="tel"]{
  background-position : 7px -53px;
  width: 250px;
}

input[type="submit"]{
  margin-left: 35px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: #ce1010;
}

input[type="email"]:valid{
  background-position: 7px -18px;
  border: 1px solid white;
}

input[type="tel"]:valid{
  border: 1px solid white;
  background-position: 7px -93px;
}

input[type="email"]:valid + .tick, input[type="tel"]:valid + .tick{
  background: url(img/tick.png) center;
  background-size: 100%;
  width:20px;
  height: 20px;
  float: left;
  margin: 22px;
}


@media screen and (max-width:1150px) {
        .banner .welcome{
            position: absolute;
            bottom: 70px;
            display: inline-block;
            padding: 10px;
            border-radius: 20px;
            background-color: #292a2d;
            left: 35%;

            font-size: 32px;
        }

        .social-accounts li img{
            height:80px;
            margin:0 20px;
            margin-left: 25px;
            padding: 10px;
            text-decoration: none;
        }
}

@media screen and (max-width:1000px) {
    .social-accounts li img{
        height:65px;
        margin:0 20px;
        margin-left: 25px;
        padding: 10px;
        text-decoration: none;
    }
}

@media screen and (max-width:900px) {
    .banner .welcome{
        position: absolute;
        bottom: 40px;
        display: inline-block;
        padding: 10px;
        border-radius: 20px;
        background-color: #292a2d;
        left: 35%;

        font-size: 20px;
    }
    .social-accounts li img{
        height:35px;
        margin:0 20px;
        margin-left: 25px;
        padding: 10px;
        text-decoration: none;
    }
}

@media screen and (max-width:600px) {
    .banner .welcome{
        position: absolute;
        bottom: 25px;
        display: inline-block;
        padding: 10px;
        border-radius: 20px;
        background-color: #292a2d;
        left: 30%;

        font-size: 12px;
    }
    .social-accounts li img{
        height:25px;
        margin:0 2px;
        margin-left: 25px;
        padding: 2px;
        text-decoration: none;
    }
}
